* {
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background-color: purple;
  padding: 1rem;
}


/* SELECT PAGE */
.select--title {
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  color: white;
}

.select--col {
  text-align: center;
  color: black;
  margin: auto;
}


.select--card {
  width: auto;
  min-width: 330px;
  margin: 1rem;
  padding: 3rem;
}

.select--card:hover {
  cursor: pointer;
}

.select--container {
  padding: 1.5rem;
}

.select--image {
  height: 13rem;
  width: auto;
  object-fit: contain;
}

.select--card--title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 3rem;
}

.card--length--title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card--length--input {
  display: flex;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

input {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.card--length--unit {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
  border-left: 2px;
}

.card--length--button {
  width: auto;
}

.center--align {
  margin: auto 0;
}




/* MAP PAGE */
.map--card--header {
  font-size: 2rem;
}

.map--card {
  width: 20rem;
  height: 95vh;
  border-radius: 0px;
}

.center--map {
  display: flex;
  justify-content: center;
}
